@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Monoton&display=swap');
/* .heading{
    font-size: 3.6em;
    color: white;
    font-variant: small-caps;
    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    margin: 200px 680px;

} */
/* .heading2{
    font-size: 3.2em;
    color: white;
    font-variant: small-caps;
    font-family: 'Monoton', cursive;
    font-weight: 400;
    margin-left: 550px;
} */
Body{
background-image: linear-gradient(-225deg, #E3FDF5 0%, #eaddcf 100%);
background-image: linear-gradient(to top,#232946 0%, #20243e 95%);
background-attachment: fixed;
  background-repeat: no-repeat;
}

/* .initial{
    margin-left:820px ;
    margin-top: -50%;
    padding: 10px 47px;
    background-color: #dd909c;
    color: white;
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: 600;

}
.initial:hover{
    box-shadow: 2px 2px rgba(255, 255, 255, 0.71);
    cursor: pointer;
}
.initial a{
    text-decoration: none;
    color:#ffffff;
    font-size: 1.2em;
    font-weight: 600;
}
footer div{
    position: fixed;
    bottom: 10px;
    left: 45%;
    font-weight: 600;
    font-family: monospace;
    color: white;
} */

@media (max-width:500px){
    .heading{
        margin: 150px 27%;
        font-size: 3.5em;
    }
    .heading span{
        margin-left: 26%;
    }
    .initial{
        margin-left: 43%;
        margin-top: -20%;
        padding: 5px 25px;
    }
    footer div{
        left: 38%;
    }
}
@media (max-width:400px){
    .heading{
        margin: 50% 20%;
    }
    .heading span{
        margin-left: 25%;
    }
    .initial{
        margin-left: 39%;
    }

}


/*
.form3{
    display: none;
    position: fixed;
    height: 300px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    z-index: 1;
    
    margin: 20vh 30vh;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.form3 h3{
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-variant: small-caps;
    letter-spacing: 0.5px;
}


.form3 .buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    cursor: pointer;

}
.form3 .buttons a{
    color: red;
    border-radius: 12px;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}
*/












/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
} */

/*

.form1{
    display: none;
    height: 450px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-45%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.form1 *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.form1 h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.form1 button{
    margin-top: 50px;
    width: 90%;
    background-color: #ffffff;
    color: #080710;
    padding: 14px 0;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
}

.form1 button:hover{
    background-color: rgb(171, 171, 171);
    
}





.form2{
    display: none;
    height: 450px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-45%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.form2 *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.form2 button{
    margin-top: 50px;
    width: 90%;
    background-color: #ffffff;
    color: #080710;
    padding: 14px 0;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
}

.form2 button:hover{
    background-color: rgb(171, 171, 171);
    
}
.form2 h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}


